:root {
	--white-color: #ffffff;
	--light-grey-color: #f7f7f7;
	--mid-grey-color: #cccccc;
	--dark-color: #444444;
	--light-green-color: #a5e887;
	--mid-green-color: #00cc76;
	--dark-green-color: #00aa95;
	--gradient-green: linear-gradient(
		0deg,
		rgba(0, 204, 118, 1) 0%,
		rgba(0, 170, 149, 1) 100%
	);
	--yellow-color: #ffed47;
	--red-color: #d60202;
}

@mixin headerSettings {
	font-weight: 600;
	margin: 0.5rem 0;
}

@mixin minHeight100 {
	min-height: 100%;
}

* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box;
}
html {
	font-size: 16px;
	@include minHeight100();
}

body {
	font-family: 'Inter', sans-serif;
	background-color: var(--light-grey-color);
	font-weight: 400;
	-webkit-font-smoothing: antialiased !important;
	@include minHeight100();
}
#root {
	@include minHeight100();
}

h1 {
	font-size: 3rem;
	@include headerSettings;
}
h2 {
	font-size: 2rem;
	@include headerSettings;
}
h3 {
	font-size: 1.5rem;
	@include headerSettings;
}
h4 {
	font-size: 1rem;
	@include headerSettings;
}
p {
	font-size: 1rem;
}
