$result-card-breakpoint: 532px;

@mixin crossSettings {
	content: ' ';
	width: 0.25rem;
	height: 2rem;
	background-color: var(--white-color);
	display: block;
	border-radius: 0.5rem;
	position: absolute;
	left: 0;
	top: 0;
	margin-left: 1rem;
}

@mixin responsiveContainerCenteredDesktop {
	max-width: 500px;
	left: calc(50vw - 250px);
}

@mixin responsiveContainerFullMobile {
	left: 0;
}

.result {
	position: relative;
	height: 100vh;
	overflow: hidden;
	&__close {
		cursor: pointer;
		background-color: transparent;
		outline: none;
		border: none;
		opacity: 0.5;
		z-index: 150;
		position: fixed;
		left: calc(50vw - 250px);
		margin: 1rem;
		text-align: center;
		display: flex;
		padding: 0;
		top: 0;
		width: 2rem;
		height: 2rem;
		span {
			margin: 0;
			position: absolute;
		}
		&__cross--right::before {
			@include crossSettings();
			transform: rotate(45deg);
		}
		&__cross--left::after {
			@include crossSettings();
			transform: rotate(-45deg);
		}
	}
	&__card {
		bottom: 0;
		@include responsiveContainerCenteredDesktop();
		margin: 1rem auto;
	}
	&__info {
		padding: 1rem;
		&__check {
			display: flex;
			margin-bottom: 1rem;
			&__item {
				flex: 1;
				display: flex;
				align-items: center;
				p {
					margin: 0 0 0 0.5rem;
				}
				.yes {
					color: var(--mid-green-color);
				}
				.no {
					color: var(--red-color);
				}
				.maybe {
					color: var(--yellow-color);
				}
				.unknown {
					color: var(--mid-grey-color);
				}
				img {
					height: 1rem;
				}
			}
		}
		&__ingredients {
			display: flex;
			margin-bottom: 1rem;
			ul {
				flex: 1;
				list-style: none;
				padding-left: 0rem;
				li {
					font-size: 0.75rem;
					img {
						height: 0.5rem;
					}
				}
			}
		}
		&__btn {
			width: 100%;
		}
	}
	&__error {
		color: var(--red-color);
		text-align: center;
		padding: 1rem;
		text-transform: capitalize;
		&__btn {
			width: 100%;
		}
	}
}

@media (max-width: $result-card-breakpoint) {
	.result__card {
		@include responsiveContainerFullMobile();
		margin: 1rem;
	}
	.result__close {
		@include responsiveContainerFullMobile();
		margin: 1rem;
	}
}
