.scanner__marker-container {
	z-index: 100;
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding: 0;
	margin: 0rem;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	opacity: 0.5;
	.scanner__marker-container__white-logo {
		flex: 1;
		height: 70px;
		width: 70px;
		opacity: 0.25;
	}
	.scanner__marker-container__frame-container {
		flex: 3;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		.scanner__marker-container__frame {
			padding: 1rem;
			width: 90%;
			max-width: 500px;
			margin: 0 auto;
		}
		p {
			text-align: center;
			color: white;
			align-self: center;
			margin: auto;
			font-size: 1.2rem;
		}
	}
}

.scanner__video {
	video {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		min-width: 100%;
		min-height: 100%;
	}
}
