.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
.resultContainer {
	z-index: 105;
	position: fixed;
	background-color: white;
	border-radius: 15px;
	width: 70%;
	max-width: 500px;
	margin: 1rem auto;
	padding: 1rem;
	bottom: 0;
	align-self: center;
	display: flex;
	align-items: center;
	justify-content: space-between;
	h4 {
	}
	.imgContainer {
	}
	.detailsContainer {
	}
}
