:root {
  --white-color: #ffffff;
  --light-grey-color: #f7f7f7;
  --mid-grey-color: #cccccc;
  --dark-color: #444444;
  --light-green-color: #a5e887;
  --mid-green-color: #00cc76;
  --dark-green-color: #00aa95;
  --gradient-green: linear-gradient(
		0deg,
		rgba(0, 204, 118, 1) 0%,
		rgba(0, 170, 149, 1) 100%
	);
  --yellow-color: #ffed47;
  --red-color: #d60202;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  font-size: 16px;
  height: 100vh;
  width: 100vw;
}

body {
  background-color: var(--light-grey-color);
  font-weight: 400;
  -webkit-font-smoothing: antialiased !important;
  height: 100vh;
  width: 100vw;
  position: fixed;
}

#root {
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
}

h2 {
  font-size: 2rem;
  font-weight: 600;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

h4 {
  font-size: 1rem;
  font-weight: 600;
}

p {
  font-size: 1rem;
}

.card-container {
  position: fixed;
  z-index: 110;
  left: 0;
  background-color: var(--white-color);
  margin: 1rem;
  width: calc(100vw - 2rem);
  border-radius: 0.5rem;
  padding: 0;
  -webkit-filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0 0 15px rgba(0, 0, 0, 0.15));
}

.header-container {
  background: var(--gradient-green);
  border-radius: 0.5rem 0.5rem 0 0;
  margin: 0;
  text-align: center;
  color: var(--white-color);
  padding: 1rem;
}

.btn {
  border-radius: 0.5rem;
  padding: 1rem;
  outline: none;
  border: none;
  background-color: var(--mid-green-color);
  color: white;
  cursor: pointer;
}

.btn:hover {
  background: var(--gradient-green);
}

.scanner__marker-container {
  z-index: 100;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  opacity: 0.5;
}

.scanner__marker-container__white-logo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 70px;
  width: 70px;
  opacity: 0.25;
}

.scanner__marker-container__frame-container {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scanner__marker-container__frame-container__frame {
  padding: 1rem;
  max-width: 500px;
  margin: 0 auto;
}

.scanner__marker-container__frame-container p {
  text-align: center;
  color: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
  font-size: 1.2rem;
}

.scanner__video video {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
}

.result {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.result__card {
  bottom: 0;
}

.result__info {
  padding: 1rem;
}

.result__info__check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.result__info__check__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.result__info__check__item p {
  margin: 0 0 0 0.5rem;
}

.result__info__check__item .yes {
  color: var(--mid-green-color);
}

.result__info__check__item .no {
  color: var(--red-color);
}

.result__info__check__item .maybe {
  color: var(--yellow-color);
}

.result__info__check__item .unknown {
  color: var(--mid-grey-color);
}

.result__info__check__item img {
  height: 1rem;
}

.result__info__ingredients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1rem;
}

.result__info__ingredients ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  list-style: none;
  padding-left: 0rem;
}

.result__info__ingredients ul li {
  font-size: 0.75rem;
}

.result__info__ingredients ul li img {
  height: 0.5rem;
}

.result__info__btn {
  width: 100%;
}

.result__error {
  color: var(--red-color);
  text-align: center;
  padding: 1rem;
  text-transform: capitalize;
}

.result__error__btn {
  width: 100%;
}
/*# sourceMappingURL=index.css.map */